.loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 150px;
    text-align: center;
}

.box .spinner {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url(../assets/25.svg) no-repeat center center;
}

.box p {
    margin-left: 30px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(#eee, #73d14a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}