.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.navbar-wrapper{
    width: 100%;
    height: 60px;
    background-color: #1D1D1D;
    border-bottom: 1px solid #2f2f2f;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    display: block;
}

.nav-logo a{
    float: left;
    height: inherit;
}

.nav-logo a img{
    margin: 14px 30px 0 15px;
}

.navbar-wrapper .main-nav-links{
    float: right;
    margin-right: 15px;
}

.quick-search{
    float: left;
    margin-top: 10px;
}

.quick-search-container {
    position: relative;
    margin-right: 10px;
}

#quick-search-input{
    outline: none;
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 30px;
    color: #919191;
    border: 2px solid #333;
    border-radius: 20px;
    background: #1D1D1D url(../assets/icon-search.svg) no-repeat 9px 11px;
}

.nav-links{
    display: inline-block;
    padding-top: 20px ;
}

.nav-links li{
    display: inline;
    margin-left: 20px;
}

.nav-links li a{
    font-size: 16px;
    font-weight: 500;
    color: #919191;
    transition: color .25s ease-in-out;
}

.nav-links li a:hover{
    color: #fff;
}
.nav-links li a.active{
    color: #6AC045;
}

.nav-links-guest{
    display: none;
}
.nav-links-guest a{
    color: #fff !important;
}

.nav-links-guest a:hover{
    color: #919191 !important;
}

/* ---------------HERO SECTION-------------------------- */

.background-img{
    position: relative;
    background: url(../assets/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    /* margin-top: -22px; */
    /* top: 60px; */
    padding: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
}

.hero-overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg,rgba(29, 29, 29, 0.295) 0,#0f0f0f);
}

.hero-section{
    width: 100%;
}

.hero-section .hero-title{
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.hero-title h1{
    font-size: 46px;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
    margin-bottom: 15px;
    margin-top: 0;
}

.hero-title p{
    font-size: 15px;
    color: #ccc;
    max-width: 650px;
    margin: 0 auto;
    line-height: 25px;
    margin-bottom: 30px;
}

/* -------------------MOVIES SECTION------------------------ */

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin-left: -15px;
    margin-right: -15px; */
    
}

.browse-movie-wrap{
    /* border: 1px solid white; */
    position: relative;
    width: 100%;
    flex-basis: 20%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.browse-movie-link{
    max-width: 220px;
    border: 5px solid #fff;
    border-radius: 4px;
    font-size: 24px;
    overflow: hidden;
    position: relative;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    cursor: pointer;
    max-height: 337px;
}

.browse-movie-link img{
    width: 100%;
    display: block;
    height: auto;
}

        /* ------------------OVERLAY CARD------------------- */

.browse-movie-link .overlay{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    color: #fff;
    padding-top: 40px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition-delay: 100ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    cursor: pointer;
}

.overlay .star-icon img{
    color: #6AC045;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0 auto;
}

.overlay h4{
    font-size: 25px;
    margin: 0;
    position: relative;
    width: 100%;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
}

.overlay .rating{
    margin-top: 10px;
    margin-bottom: 20px;
}

.overlay button{
    background-color: #5da93c;
    color: #fff;
    margin-top: 40px;
    padding: 10px 0;
    border: none;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    top: 40px;
    width: 130px;
    border-radius: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    cursor: pointer;
}

.overlay button:hover{
    background-color: #50a72b;
}

.browse-movie-link:hover .overlay{
    opacity: 1;
}

.browse-movie-link:hover .overlay button{
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.browse-movie-link:hover{
    border: 5px solid #6ac045;
}
        /* -------OVERLAY CARD END------------- */

.browse-movie-bottom {
    margin: 0;
    padding: 5px;
    width: 200px;
    text-align: left;
}

.browse-movie-bottom a{
    color: #fff;
    letter-spacing: .5px;
    display: block;
    font-weight: 600;
    transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6em;
}
.browse-movie-bottom a:hover{
    color: #919191;
}

.popular-section{
    margin-top: 80px;
    padding-bottom: 15px;
    border-top: 1px solid #817C7C;
}

.popular-section h2
{
    color: #fff;
    padding:8px;
    text-align: center;
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -22px;
    margin: 0 auto;
    background-color: #6AC045;
    border-radius: 20px;
    margin-bottom: 20px;
}

.popular-section h2 img{
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

/* ----------- MAIN SECTION ------------------ */

.main-section{
    width: 100%;
    background-color: #101010;
    position: relative;
    /* top: 60px; */
}

.latest-section {
    margin:0;
    padding-top: 20px;
}

.latest-section .content{
    margin-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #817C7C;
}

.latest-section h2{
    color: #fff;
    width: 240px;
    padding:8px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -22px;
    margin: 0 auto;
    background-color: #101010;
    margin-bottom: 20px;
}

.latest-section .view-all a{
    color: #6AC045;
    transition: all .3s;
}

.latest-section .view-all a:hover{
    color: #fff;
}

/* --------------------FOOTER------------------- */

footer{
    width: 100%;
    background-color: #171717;
    text-align: center;
    position: relative;
    z-index: 20;
    bottom: 0;
    border-top: 1px solid #2f2f2f;
}

footer ul{
    display: inline-block;
    margin: 10px 10px 0;
    padding: 10px;
}

footer ul li{
    display: inline;
    margin-right: 8px;
    color: #fff;
}

footer ul li a, footer p a{
    color: #919191;
    transition: color .25s ease-in-out;
}

footer ul li a:hover, footer p a:hover{
    color: #fff;
}

footer p{
    margin-top: 8px;
}


/* -------------------------------MEDIA QUERIES---------------------------- */
@media only screen and (max-width: 1024px){
    .container{
        max-width: 992px;
    }

    .browse-movie-bottom{
        width: 170px;
    }

    .hero-title h1{
        font-size: 36px;
        font-weight: 600;
    }
    
    .hero-title p{
        font-size: 15px;
        max-width: 700px;
    }

    .browse-movie-link .overlay{
        padding-top: 30px;
        display: none;
    }

    .overlay h4{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    .container{
        max-width: 720px;
    }
    .browse-movie-wrap{
        flex-basis: 20%;
        margin-top: 15px;
    }
    .browse-movie-bottom{
        width:150px;
    }
    .browse-movie-bottom a,.browse-movie-bottom div{
        font-size: 14px;
    }

    .browse-movies-section .pagination li {
        padding: 10px 0px;
    }

    .browse-movies-section .movies-list{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 650px){
    .container{
        max-width: 540px;
    }

    .nav-logo a img{
        margin-right: 0;
    }
    .hero-title h1{
        font-size: 28px;
        font-weight: 600;
        text-align: left;
        line-height: 1.1em;
    }
    
    .hero-title p{
        font-size: 14px;
        max-width: 400px;
        line-height: 1.5em;
        text-align: left;
    }
    .hero-title{
        margin-left: 20px;
        margin-right: 10px;
    }

    .browse-movie-wrap{
        flex-basis: 45%;
        padding: 0;
    }

    .popular-section{
        margin-top: 60px;
    }

    .popular-section h2
{
    width: 180px;
    font-size: 16px;
    margin-bottom: 0px;
}

.popular-section h2 img{
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.browse-movie-wrap{
    margin-top: 15px;
}

.latest-section{
    padding-top: 15px;
}

.latest-section h2{
    font-size: 16px;
    width: 220px;
    margin-bottom: -10px;
}

 .browse-movies-section .pagination{
    display: none;
}
 .browse-movies-section .hidden-pagination{
    display: flex;
}

}

@media only screen and (max-width: 420px){

    .browse-movies-section .main-search{
        height: 150px;
    }
    .browse-movies-section .search-form{
        padding: 0;
        margin-top: 0;
    }

    .search-form .search-field{
        width: 90%;
        display: block;
    }
    .search-field {
        margin-left: auto;
        margin-right: auto;
    }
    .search-field p{
        font-size: 22px !important;
    }

    .search-field input{
        height: 40px !important;
    }

    .search-form .search-btn{
        margin: 0 auto;
        margin-left: 20px !important;
    }
    .search-btn input{
        padding: 10px 15px !important;
    }

}

@media only screen and (max-width: 330px){
    .browse-movie-wrap{
        flex-basis: 70%;
    }

    .browse-movie-bottom{
        width: 220px;
    }
}



